@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;600;700;800&display=swap');
#MainContainer{
    background-image: url("./assets/portfolio1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color:#FFFFFF;
    background-attachment:fixed;
    overflow-x: hidden;
    
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#HeadContainer{
display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    min-height: 50px;
    margin-bottom: 60px;
}
@media(max-width:768px){

    #HeadContainer{

        margin-bottom: 30px;

        padding: 10px;
        
    }

}